.header {
    display: flex;
    height: 80px;
    align-items: center;
}

.headerItem1 {
    position: absolute;
    left: 7%;
}

.headerItem2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}

.headerItem3 {
    position: absolute;
    right: 7%;
}

.headerLink {
    color: black;
    font-family: 'Raleway', sans-serif;
    margin: 0 16px 0 16px;
    padding: 16px 0 16px 0;
    text-decoration: none;
}

.headerMenu {
    display: flex;
}

.headerMenuItem {
    align-self: center;
    padding: 0 10px 0 10px;
}

.active {
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
    padding-bottom: 30px;
}
