.popupCart {
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    background-color: rgba(0,0,0, 0.2);
}

.popupInnerCart {
    position: absolute;
    right: 7%;
    top: 0;
    width: 325px;
    background-color: white;
}

.popupCurrency {
    position: absolute;
    top: 80px;
    right: 7%;
    background-color: white;
}